<header>
  <div id="headcontent" class="wraproot">
    <div class="logo">
     <img src="/assets/img/logo-center.png" alt="Shizuka Valenheart">
    </div>
    <nav>
      <ul>
        <img src="/assets/img/underconstruction.gif" style="max-width:100%" alt="under construction banner, because it's 1998 around here"><br>
        <li><a href="/" {% if page.here == "home" %}class="here{% if page.this %} this{% endif %}"{% endif %}>home</a></li>
        <li><a href="/projects" {% if page.here == "projects" %}class="here{% if page.this %} this{% endif %}"{% endif %}>projects</a></li>
        <li><a href="/mermaid" {% if page.here == "mermaid" %}class="here{% if page.this %} this{% endif %}"{% endif %}>mermaid</a></li>
        <li><a href="/furhaven" {% if page.here == "furhaven" %}class="here{% if page.this %} this{% endif %}"{% endif %}>furhaven</a></li>
        <li><a href="/writing" {% if page.here == "writing" %}class="here{% if page.this %} this{% endif %}"{% endif %}>writing</a></li>
      </ul>
    </nav>
  </div>
</header>