/* 
 * Valenheart Stylesheet
 * 2020-Sep
 */

 @import 'mixins';
 @import 'fa/fontawesome.scss';
 @import 'fa/solid.scss';
 @import 'fa/brands.scss';

// PALETTES **************************//
//colorpalettes.net #2141
$c-2141-sand-dark: #cfad89;
$c-2141-sand-lite: #cfc1af;
$c-2141-teal-dark: #1088a0;
$c-2141-teal-lite: #78b2c4;
$c-2141-gray: #818792;

//colorpalettes.net #1873
$c-1873-deep: #051f34;
$c-1873-dark: #027495;
$c-1873-lite: #01a9c1;
$c-1873-gray: #bad6db;
$c-1873-white: #f4f5f5;

//colorpalettes.net #3338
$c-3338-white: #f6ede4;

//vortalcord
$c-vc-sand-dark: #eac99a;
$c-vc-sand-lite: #efe4bd;


// COLORS ****************************//
$c-bg-header: $c-1873-dark;
$c-bg-main: $c-3338-white;
$c-bg-main-margins: $c-vc-sand-dark;
$c-bg-bq: mix($c-3338-white, $c-2141-sand-lite, $weight: 60%);

$c-text: #46433a;
$c-text-lite: $c-2141-gray;
$c-link: $c-1873-lite;
$c-hx: $c-1873-dark;

$c-bg-nav: $c-1873-deep;
$c-link: $c-2141-teal-dark;
$c-link-hover: $c-2141-teal-lite;
$c-link-nav: $c-1873-white;
$c-link-nav-sep: $c-2141-gray;
$c-link-nav-here: $c-vc-sand-dark;
$c-link-nav-hover: $c-1873-lite;

$c-border: mix($c-2141-gray, $c-2141-teal-lite);
$c-hr: $c-border;

// FONTS *****************************//
$f-body:      font("Lusitana"), serif;
$f-nav:       font("Caveat"), $f-body;
$f-heading:   font("Amatic SC"), $f-body;
$f-code:      font("Source Code Pro"), monospace;

// SIZES *****************************//
$s-text: 1em;
$s-nav: 1.5em;
$s-h1: 2.5em;
$s-h2: 2em;
$s-h3: 1.5em;
$s-small: 0.8em;

// STYLES ****************************//
* {
  margin: 0;
  padding: 0;
}

.clearfix {
  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
  }
}

.center {
  text-align: center;
}

.floatleft {
  float: left;
  margin-right: 1em;
}

.floatright {
  float: right;
  margin-left: 1em;
}

.smol {
  font-size: $s-small;
}

html {
  overflow-y: scroll;
}

body {
  font-family: $f-body;
  color: $c-text;
  background-color: $c-bg-main-margins;
  background-image: url("/assets/img/sand-1.jpg");
  font-size: $s-text;
}

.wraproot {
  margin: auto;
  width: 45em;
}

header {
  background-image: url("/assets/img/oceanheader-flat.png");
  background-position: bottom;
  background-size: auto 100%;
  margin-bottom: -3em;
  padding-bottom: 5em;
  position: relative;
  z-index: 1;
}

#headcontent {
  //position: relative;
  //z-index: 2;
  text-align: center;
}

.logo {
  padding: 1em 0 0;
  img {
    width: 100%;
  }
}

nav {
  margin-bottom: 3em;
  ul {
    padding: 0.5em 1em;
    display: inline-block;
    @extend .clearfix;
    text-align: center;
    background-color: transparentize($color: $c-bg-nav, $amount: 0.3);
    @include border-radius($br: 1.5em);
  }
  li {
    margin: 0;
    padding: 0.25em 0.5em;
    list-style-type: none;
    list-style-position: outside;
    display: inline;
  }
  a, a:visited {
    color: $c-link-nav;
    font-family: $f-nav;
    font-size: $s-nav;
    &:hover, &.here:hover {
      color: $c-link-nav-hover;
    }
    &.here {
      color: $c-link-nav-here;
      font-size: $s-nav + 0.25em;
      font-weight: bold;
    }
    &.this {
      text-decoration: none;
    }
  }
}

main {
  background-color: $c-bg-main;
  padding: 2.5em 1em 1em;
  margin-bottom: 6em !important;
}

footer {
  background-color: $c-bg-main;
  color: $c-2141-gray;
  font-size: $s-small;
  margin: 3em 0 0;
  padding: 1em 0 0;
  border-top: 2px solid $c-bg-main-margins;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
}
#bugmac {
  order: 0;
  text-align: left;
}
#bugnet {
  order: 2;
  text-align: right;
}
#foottext {
  order: 1;
  flex-grow: 2;
  text-align: center;
}

p {
  margin: 1em;
}

ol, ul {
  margin: 1em 3em;
  list-style-position: outside;
  list-style-image: url('/assets/img/bulleta.gif');

  li {
    line-height: 1.5em;

    ul {
      margin: 0 1.5em;
      list-style-image: url('/assets/img/sumbul1a.gif');
    }
  }
}

ol {
  list-style-image: none;
  list-style-type: decimal;
}

blockquote {
  background-color: $c-bg-bq;
  margin: 1em;
  padding: 1em;
}

figure {
  margin: 1em auto;
  padding: 0.8em;
  background-color: $c-bg-bq;
  display: table;

  img {
    max-width: 100%;
  }

  figcaption {
    text-align: center;
    font-style: italic;
    font-size: $s-small;
  }
}

pre {
  margin: 1em;
  padding: 1em;
  background-color: $c-bg-bq;
  overflow-x: scroll;
}

code {
  background-color: $c-bg-bq;
  display: inline-block;
  padding: 3px 5px;
  font-family: $f-code;
  font-size: $s-small;
}

hr {
  border: 1px solid $c-hr;
  margin: 1em;
}

h1, h2, h3 {
  font-family: $f-heading;
  font-weight: bold;
  color: $c-hx;
}

h1 {
  font-size: $s-h1;
}

h2 {
  font-size: $s-h2;
}

h3 {
  font-size: $s-h3;
}

a, a:visited {
  color: $c-link;

  &:hover {
    color: $c-link-hover;
  }
}

/* MEDIA BREAKPOINTS ******************/

// mobile - 768px and below
@media (max-width: 50em) {
  .wraproot {
    margin: 0;
    width: auto;
  }

  header {
    padding-bottom: 3em;
  }

  nav {
    margin-bottom: 0;
  }

  figure {
    margin: 0.2em;
    padding: 0.8em;
  }

  pre {
    margin: 0.2em;
    padding: 0.8em;
  }

  p {
    margin-left: 0.2em;
    margin-right: 0.2em;
  }

  blockquote {
    padding: 0.8em;
    margin: 0.2em;
  }

  ol,ul {
    margin: 1em 2.5em;
  }

  #foottext {
    order: 0;
    width: 100%;
    margin-bottom: 1em;
  }
  #bugmac {
    order: 1;
  }
  #bugnet {
    order: 2;
  }
  main {
    margin-bottom: 2em !important;
  }
}

/* PAGE SPECIFICS *********************/

// homepage contacts list
.contacts {
  margin: 1em auto;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
  align-content: space-between;
  width: 60%;
  li {
    margin: 0.4em 0.4em;
    display: block;
    flex: 1 1 auto;

    a, a:visited {
      display: flex;
      align-items: center;
      background-color: $c-bg-header;
      color: $c-bg-main;
      text-decoration: none;
      padding: 0.5em 0.5em;
      @include border-radius($br: 1em);

      &:hover {
        background-color: $c-2141-teal-lite;
      }
    }

    .brand {
      display: block;
      text-decoration: none;
      color: $c-bg-main-margins;
      font-size: $s-h1;
    }
    .link {
      display: block;
      font-size: $s-text + 0.2em;
      padding-left: 0.4em;
    }
    &.discord {
      .brand {
        color: $c-text;
      }
      .link {
        color: $c-text;
        text-decoration: none;
      }
      a {
        background-color: $c-bg-main-margins;
        color: $c-text;

        &:hover {
          background-color: $c-bg-main-margins;
        }
      }
    }
  }
}

//include any web fonts used today
@include web-fonts(map-values($fonts));
