---
---

$text-color: #46433A;
$anchor-text-color: #CE534D;
$background-color: #F1EED9;

@font-face {
	font-family: 'HevteeKornay';
	src: url(/assets/webfonts/HevteeKornayNTS-Regular.eot);
	src: 
		url(/assets/webfonts/HevteeKornayNTS-Regular.eot) format('embedded-opentype'),
		url(/assets/webfonts/HevteeKornayNTS-Regular.woff2) format('woff2'),
		url(/assets/webfonts/HevteeKornayNTS-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'KerathHand';
  src: url(/assets/webfonts/KerathHand-Cursive.eot);
  src: 
    url(/assets/webfonts/KerathHand-Cursive.eot)   format('embedded-opentype'),
    url(/assets/webfonts/KerathHand-Cursive.woff2) format('woff2'),
    url(/assets/webfonts/KerathHand-Cursive.woff)  format('woff');
  font-weight: normal;
  font-style: normal;
}

.cvmix {

  max-width: 30em;
  margin-left: 1em;

  .dni {
    font-family: "HevteeKornay", sans-serif;
  }
  .dnihand {
    font-family: "KerathHand";
  }
  .number {
    font-size: 1em;
    margin-right: 1ex;
  }

  .title {
    h1 {
      font-size: 1.5em;
      margin: 0.5rem 0 0 0;
    }
    h3 {
      font-style: italic;
      font-size: 1.4em;
      font-weight: bold;
      margin: 0 0 0.5rem 0.5rem;
    }
    
    .mixlist {
      list-style-type: none;
      list-style-image: none;
      margin: 0;
      padding: 0;
      font-size: 1.2em;
      font-weight: bold;
    }
  }

  .mixtitle {
    font-size: 1.5em;
    margin-bottom: 0.25rem;
  }

  .download {
    .size {
      font-size: 0.8em;
    }
    .time {
      font-size: 1.25em;
      font-family: monospace;
    }
    width: fit-content;
    //border-bottom: 2px solid mix($text-color, $background-color, 30%);
    padding-bottom: 0.25rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .tracklist { //ol
    margin: 0 0 0.25rem;
    padding: 0;
    .track { //ul
      margin: 0;
      padding: 0;
      display: flex;

      ul {
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 0;
      }

      li {
        list-style-type: none;
        list-style-image: none;

        &.time {
          font-family: monospace;
          font-size: 1.2em;
          margin-right: 1.5ex;
          display: inline-block;
        }
        &.title {
          font-weight: bold;
          font-size: 1em;
          margin-right: 0.2em;
          display: inline-block;
        }
        &.mix {
          font-weight: bold;
          font-size: 0.8em;
          display: inline-block;
        }
        &.artist {
          font-style: italic;
          font-size: 0.8em;
        }
        &.album {
          font-style: italic;
          font-size: 0.8em;
          display: inline-block;
        }
      }

      &:after {
        content: "";
        clear: both;
        display: table;
      }
    }
  }
}